/* ADOPT General properties */
.adoptMain h2{
    color: rgba(159,204,185, 1);
    margin: 20px 20px 10px 20px;
}
.adoptNameTitle{
    font-weight: bold;
}
.animalName{
    color: rgba(159,204,185, 1);
    font-weight: bold;
}
.adoptMain a{
    padding: 10px 20px 10px 20px;
    border: 1px solid rgba(159,204,185, 1);
    text-decoration: none;
    color: black;
  }
.adoptMain a:hover {
    background-color: rgba(159,204,185, 1);
    color: #fff;
}
.mostrarMas{
    float: left;
    margin: 20px 20px 20px 35%;
}
  /*
  *  Especific properties for 500px max resolution of screen 
  */
  @media screen and (max-width: 500px) {

    /*   presentation content    */
    .adoptMain{
      width: 100%;
    }
    .adoptMain div{
        background-color: rgba(0, 0, 0, 0.05);
        border-top: 1px solid rgba(159,204,185, 1);
        border-bottom: 1px solid rgba(159,204,185, 1);
        margin: 20px 0px 10px 0px;
        height: 480px;
    }
    .adoptMain p{
        margin: 20px 20px 0px 20px;    
        font-size: 20px;
    }
    .adoptMain img{
        width: -webkit-fill-available;
        vertical-align: middle;
        height: 50%;
        margin-top: 20px;
    }
    .adoptMain div a{
        float: right;
        margin: 20px;
    }
  }
  
  /*
  *  Especific properties for 500px min resolution of screen 
  */
  @media screen and (min-width: 500px) {
    
    /*   presentation content    */
    .adoptMain{
      width: 50%;
      margin-left: 25%;
    }
    .adoptMain div{
        background-color: rgba(0, 0, 0, 0.05);
        border-top: 1px solid rgba(159,204,185, 1);
        border-bottom: 1px solid rgba(159,204,185, 1);
        margin: 20px 0px 10px 0px;
        height: 200px;
    }
    .adoptMain img{
        height: 100%;
        margin-right: 20px;
        float: left;
      }
    .adoptMain p{
        margin: 20px;
    }
    .adoptMain a{
      vertical-align: bottom;
    }
    .mostrarMas{
      margin: 20px 20px 20px 45% !important;
  }
  }
